# EDA time

2018 onwards: https://usa.ipums.org/usa/volii/occ2018.shtml

Up to 2017: https://usa.ipums.org/usa/volii/occ_acs.shtml

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('usa_00004.csv')

In [3]:
df.shape

(207795, 17)

In [4]:
df.head()

,YEAR,MULTYEAR,SAMPLE,NCHILD,NCHLT5,ELDCH,RELATE,RELATED,SEX,AGE,MARST,OCC,IND,UHRSWORK,INCTOT,FTOTINC,PWSTATE2
0,2021,2017,202103,0,0,99,1,101,2,26,6,5220,9570,45,27632,66578,1
1,2021,2017,202103,0,0,99,11,1114,1,22,6,8990,3980,80,32605,66578,1
2,2021,2017,202103,0,0,99,1,101,2,73,5,0,0,0,9947,22941,0
3,2021,2017,202103,0,0,99,9,901,1,23,6,0,0,0,9726,22941,0
4,2021,2017,202103,0,0,99,9,901,1,19,6,9920,9920,0,1083,22941,0

In [5]:
df.dtypes

YEAR        int64
MULTYEAR    int64
SAMPLE      int64
NCHILD      int64
NCHLT5      int64
ELDCH       int64
RELATE      int64
RELATED     int64
SEX         int64
AGE         int64
MARST       int64
OCC         int64
IND         int64
UHRSWORK    int64
INCTOT      int64
FTOTINC     int64
PWSTATE2    int64
dtype: object

In [6]:
problem_codes = [4465, 3945, 2825, 4960, 726, 630, 4550] #these are duplicates

In [7]:
code = 726

In [8]:
df[df['OCC'] == code].head()

,YEAR,MULTYEAR,SAMPLE,NCHILD,NCHLT5,ELDCH,RELATE,RELATED,SEX,AGE,MARST,OCC,IND,UHRSWORK,INCTOT,FTOTINC,PWSTATE2
3229,2021,2018,202103,2,0,15,1,101,2,33,6,726,9170,40,95272,102795,2
4425,2021,2017,202103,0,0,99,12,1270,1,18,6,726,7590,12,1216,9999999,4
11196,2021,2017,202103,4,2,14,3,303,2,42,6,726,9160,0,7184,176033,0
14800,2021,2017,202103,0,0,99,2,201,2,56,1,726,8570,45,248961,404963,6
15941,2021,2018,202103,1,1,0,1,101,2,43,1,726,8191,40,253556,320143,6

## Occupation in Groups

In [55]:
def groupings(occ_val):
    if occ_val == 0:
        return "N/A"
    elif 10 <= occ_val<= 440:
        return "Management, Business, Science, and Arts Occupations"
    elif 500 <= occ_val <= 750:
        return "Business Operations Specialists"
    elif 800 <= occ_val <= 950 or occ_val == 960:
        return "Financial Specialists"
    elif 1000 <= occ_val <= 1240:
        return "Computer and Mathematical Occupations"
    elif 1300 <= occ_val <= 1560:
        return "Architecture and Engineering Occupations"
    elif 1600 <= occ_val <= 1965 or occ_val == 1980 or occ_val == 1970:
        return "Life, Physical, and Social Science Occupations"
    elif 2000 <= occ_val <= 2060:
        return "Community and Social Services Occupations"
    elif 2100 <= occ_val <= 2145 or occ_val == 2170 or occ_val == 2180: 
        return "Legal Occupations"
    elif 2200 <= occ_val <= 2550 or occ_val == 2555:
        return "Education, Training, and Library Occupations"
    elif 2600 <= occ_val <= 2920:
        return "Arts, Design, Entertainment, Sports, and Media Occupations"
    elif 3000 <= occ_val <= 3540 or occ_val == 3545 or occ_val == 3550:
        return "Healthcare Practitioners and Technical Occupations"
    elif 3600 <= occ_val <= 3655:
        return "Healthcare Support Occupations"
    elif 3700 <= occ_val <= 3955 or occ_val == 3960:
        return "Protective Service Occupations"
    elif 4000 <= occ_val <= 4150:
        return "Food Preparation and Serving Occupations"
    elif 4200 <= occ_val <= 4250:
        return "Building and Grounds Cleaning and Maintenance Occupations"
    elif 4300 <= occ_val <= 4650 or occ_val == 4251 \
    or occ_val == 4255 or occ_val == 4160 or occ_val == 4252\
    or occ_val == 4655:
        return "Personal Care and Service Occupations"
    elif 4700 <= occ_val <= 4960 or occ_val == 4965:
        return "Sales and Related Occupations"
    elif 5000 <= occ_val <= 5940:
        return "Office and Administrative Support Occupations"
    elif 6000 <= occ_val <= 6130:
        return "Farming, Fishing, and Forestry Occupations"
    elif 6200 <= occ_val <= 6760 or occ_val == 6765:
        return "Construction and Extraction Occupations"
    elif 6800 <= occ_val <= 7610 or occ_val == 7640:
        return "Installation, Maintenance, and Repair Workers"
    elif 7700 <= occ_val <= 8990:
        return "Production Occupations"
    elif 9000 <= occ_val <= 9750 or occ_val == 9760:
        return "Transportation and Material Moving Occupations"
    elif 9800 <= occ_val <= 9920:
        return "Military Specific Occupations"
    else:
        return "Problem"

In [56]:
df['Groups'] = df['OCC'].apply(groupings)
problems = df[df['Groups'] == 'Problem']['OCC']

In [57]:
problems.unique()

array([], dtype=int64)

In [58]:
df.head()

,YEAR,MULTYEAR,SAMPLE,NCHILD,NCHLT5,ELDCH,RELATE,RELATED,SEX,AGE,MARST,OCC,IND,UHRSWORK,INCTOT,FTOTINC,PWSTATE2,Groups
0,2021,2017,202103,0,0,99,1,101,2,26,6,5220,9570,45,27632,66578,1,Office and Administrative Support Occupations
1,2021,2017,202103,0,0,99,11,1114,1,22,6,8990,3980,80,32605,66578,1,Production Occupations
2,2021,2017,202103,0,0,99,1,101,2,73,5,0,0,0,9947,22941,0,N/A
3,2021,2017,202103,0,0,99,9,901,1,23,6,0,0,0,9726,22941,0,N/A
4,2021,2017,202103,0,0,99,9,901,1,19,6,9920,9920,0,1083,22941,0,Military Specific Occupations

In [61]:
df.groupby("Groups").count()

,YEAR,MULTYEAR,SAMPLE,NCHILD,NCHLT5,ELDCH,RELATE,RELATED,SEX,AGE,MARST,OCC,IND,UHRSWORK,INCTOT,FTOTINC,PWSTATE2
Groups,,,,,,,,,,,,,,,,,
Architecture and Engineering Occupations,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451,2451
"Arts, Design, Entertainment, Sports, and Media Occupations",2671,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671
Building and Grounds Cleaning and Maintenance Occupations,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364,3364
Business Operations Specialists,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998
Community and Social Services Occupations,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114
Computer and Mathematical Occupations,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629,3629
Construction and Extraction Occupations,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632,5632
"Education, Training, and Library Occupations",8232,8232,8232,8232,8232,8232,8232,8232,8232,8232,8232,8232,8232,8232,8232,8232,8232
"Farming, Fishing, and Forestry Occupations",1029,1029,1029,1029,1029,1029,1029,1029,1029,1029,1029,1029,1029,1029,1029,1029,1029
Financial Specialists,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577,2577
Food Preparation and Serving Occupations,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672
Healthcare Practitioners and Technical Occupations,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148,7148
Healthcare Support Occupations,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698,3698
"Installation, Maintenance, and Repair Workers",3911,3911,3911,3911,3911,3911,3911,3911,3911,3911,3911,3911,3911,3911,3911,3911,3911
Legal Occupations,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448,1448
"Life, Physical, and Social Science Occupations",1311,1311,1311,1311,1311,1311,1311,1311,1311,1311,1311,1311,1311,1311,1311,1311,1311
"Management, Business, Science, and Arts Occupations",12751,12751,12751,12751,12751,12751,12751,12751,12751,12751,12751,12751,12751,12751,12751,12751,12751
Military Specific Occupations,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315,1315
N/A,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806,84806
Office and Administrative Support Occupations,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958,13958
Personal Care and Service Occupations,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596,4596
Production Occupations,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767,6767
Protective Service Occupations,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555,2555
Sales and Related Occupations,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976,11976
Transportation and Material Moving Occupations,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186,9186